.border { 
     -fx-background-image: url('pics/skin/background_dark.png');
     -fx-border-image-source: url('pics/skin/border_image.png');
     -fx-border-image-insets: 0.0;
     -fx-border-image-repeat: no-repeat ;
     /* top, right, bottom, and left slices */
     -fx-border-image-slice: 10.0,10.0,10.0,10.0;
     -fx-border-image-width: 8.0;
     
     /*
     -fx-fill: transparent;
     -fx-highlight-text-fill: transparent;
     -fx-background-color: transparent,transparent,transparent;
     */
}

.border-open-right {
	-fx-background-image: url('pics/skin/background_dark.png');
	-fx-border-image-source: url('pics/skin/border_image.png');
	-fx-border-image-insets: 0 0 0 0;
	-fx-border-image-repeat: repeat stretch;
	/* top, right, bottom, and left slices */
	-fx-border-image-slice: 10 10 10 10;
	-fx-border-image-width: 8 0 8 8;
	-fx-fill: transparent;
	-fx-highlight-text-fill: transparent;
	-fx-background-color: transparent, transparent, transparent;
}

.border-open-left {
	-fx-background-image: url('pics/skin/background_dark.png');
	-fx-border-image-source: url('pics/skin/border_image.png');
	-fx-border-image-insets: 0 0 0 0;
	-fx-border-image-repeat: repeat stretch;
	/* top, right, bottom, and left slices */
	-fx-border-image-slice: 10 10 10 10;
	-fx-border-image-width: 8 8 8 0;
	-fx-fill: transparent;
	-fx-highlight-text-fill: transparent;
	-fx-background-color: transparent, transparent, transparent;
}

.gridpane-light { 
    -fx-background-image: url('pics/skin/background_light.png');
    -fx-background-image-repeat: repeat ;
}

.background-light { 
    -fx-background-image: url('pics/skin/background_light.png');
    -fx-background-image-repeat: repeat ;
}

.background-light-yellow { 
    -fx-background-image: url('pics/skin/background_light_orange.png');
    -fx-background-image-repeat: repeat ;
}

.background-light-red { 
    -fx-background-image: url('pics/skin/background_light_red.png');
    -fx-background-image-repeat: repeat ;
}

.background-light-green { 
    -fx-background-image: url('pics/skin/background_light_green.png');
    -fx-background-image-repeat: repeat ;
}

.background-dark-yellow { 
    -fx-background-image: url('pics/skin/background_dark_orange.png');
    -fx-background-image-repeat: repeat ;
}

.background-dark-red { 
    -fx-background-image: url('pics/skin/background_dark_red.png');
    -fx-background-image-repeat: repeat ;
}

.background-dark-green { 
    -fx-background-image: url('pics/skin/background_dark_green.png');
    -fx-background-image-repeat: repeat ;
}

.backgruond-dark { 
    -fx-background-image: url('pics/skin/background_dark.png');
    -fx-background-image-repeat: repeat ;
}

.flow-pane {
	-fx-background-image: url('pics/skin/background_light.png');
}

.scroll-pane {
    -fx-background-insets: 0.0;
    -fx-padding: 0.0;
}

.scroll-pane:focused {
    -fx-background-insets: 0.0;
}

.scroll-pane .corner {
    -fx-background-insets: 0.0;
}

.text-field { 
	 -fx-background-image: url('pics/skin/background_dark.png');
     -fx-border-image-source: url('pics/skin/border_image.png');
     -fx-border-image-insets: 0.0;
     -fx-border-image-repeat: no-repeat ;
     -fx-border-image-slice: 10.0,10.0,10.0,10.0;
     -fx-border-image-width: 8.0;
     -fx-focus-color: transparent;
     -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-insets: 0.0;
    -fx-padding: 0.0;
}

.scroll-pane:focused {
    -fx-background-insets: 0.0;
}

.scroll-pane .corner {
    -fx-background-insets: 0.0;
}

.tab-pane:tab-header-background {
    -fx-background-image: url('pics/skin/background_light.png');
    -fx-background-repeat: 	repeat; 
    -fx-background-color: transparent;
}

.tab-header-background {
    -fx-background-image: url('pics/skin/background_light.png');
    -fx-background-repeat: 	repeat; 
    -fx-background-color: transparent;
    -fx-padding: 0.0;
	-fx-effect: null;
}

.tool-bar:horizontal {
    -fx-background-image: url('pics/skin/background_light.png'); 
    -fx-background-repeat: 	repeat; 
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
}

/* Tables */
.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-wrap-text: false;
    }

.table-view .column-header .label {
    -fx-background-image: url('pics/skin/background_dark.png'); 
    -fx-text-fill: whitesmoke ;
    -fx-font-weight: bold;
}

.table-view .cell {
	-fx-background-color: transparent;
    -fx-text-fill: black;
}

.table-view .row {
    -fx-text-fill: rgb(128.0,255.0,255.0);
}

.button-openfile {
  -fx-background-image: url('pics/skin/background_height_light.png');
  -fx-border-image-source: url('pics/skin/border_height_image.png');
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/folder.png');
  -fx-background-color: transparent;
}

.button-copy {
  -fx-background-image: url('pics/skin/background_height_light.png');
  -fx-border-image-source: url('pics/skin/border_height_image.png');
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/page_white_copy.png');
  -fx-background-color: transparent;
}

.toggle-button-metainfo {
  -fx-background-image: url('pics/skin/background_height_light.png');
  -fx-border-image-source: url('pics/skin/border_height_image.png');
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/lightbulb.png');
  -fx-background-color: transparent;
}

.toggle-button-metainfo:selected {
   -fx-background-image: url('pics/skin/background_dark.png');
   -fx-border-image-source: url('pics/skin/border_image.png');
   -fx-border-image-insets: 0.0;
   -fx-border-image-repeat: no-repeat ;
   /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/lightbulb_off.png');
  -fx-background-color: transparent;
}

.toggle-button-filter {
  -fx-background-image: url('pics/skin/background_height_light.png');
  -fx-border-image-source: url('pics/skin/border_height_image.png');
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/filter.png');
  -fx-background-color: transparent;
}

.toggle-button-filter:selected {
   -fx-background-image: url('pics/skin/background_dark.png');
   -fx-border-image-source: url('pics/skin/border_image.png');
   -fx-border-image-insets: 0.0;
   -fx-border-image-repeat: no-repeat ;
   /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/filter_delete.png');
  -fx-background-color: transparent;
}

.toggle-button-aggregateBugs {
  -fx-background-image: url('pics/skin/background_height_light.png');
  -fx-border-image-source: url('pics/skin/border_height_image.png');
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/bug_disabled.png');
  -fx-background-color: transparent;
}

.toggle-button-aggregateBugs:selected {
   -fx-background-image: url('pics/skin/background_dark.png');
   -fx-border-image-source: url('pics/skin/border_image.png');
   -fx-border-image-insets: 0.0;
   -fx-border-image-repeat: no-repeat ;
   /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/bug.png');
  -fx-background-color: transparent;
}

.toggle-button-showgroup {
  -fx-background-image: url('pics/skin/background_height_light.png');
  -fx-border-image-source: url('pics/skin/border_height_image.png');
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/group_disabled.png');
  -fx-background-color: transparent;
}

.toggle-button-showdescription {
  -fx-background-image: url('pics/skin/background_height_light.png');
  -fx-border-image-source: url('pics/skin/border_height_image.png');
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/pencil_disabled.png');
  -fx-background-color: transparent;
}

.toggle-button-showdescription:selected {
   -fx-background-image: url('pics/skin/background_dark.png');
   -fx-border-image-source: url('pics/skin/border_image.png');
   -fx-border-image-insets: 0.0;
   -fx-border-image-repeat: no-repeat ;
   /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/pencil.png');
  -fx-background-color: transparent;
}

.toggle-button-showgroup:selected {
   -fx-background-image: url('pics/skin/background_dark.png');
   -fx-border-image-source: url('pics/skin/border_image.png');
   -fx-border-image-insets: 0.0;
   -fx-border-image-repeat: no-repeat ;
   /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/group.png');
  -fx-background-color: transparent;
}

.toggle-button-showtask {
  -fx-background-image: url('pics/skin/background_height_light.png');
  -fx-border-image-source: url('pics/skin/border_height_image.png');
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/tag_blue_edit_disabled.png');
  -fx-background-color: transparent;
}

.toggle-button-showtask:selected {
   -fx-background-image: url('pics/skin/background_dark.png');
   -fx-border-image-source: url('pics/skin/border_image.png');
   -fx-border-image-insets: 0.0;
   -fx-border-image-repeat: no-repeat ;
   /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/tag_blue_edit.png');
  -fx-background-color: transparent;
}

.button-save {
  -fx-background-image: url('pics/skin/background_height_light.png');
  -fx-border-image-source: url('pics/skin/border_height_image.png');
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/disk.png');
  -fx-background-color: transparent;
}

.button-reset {
  -fx-background-image: url('pics/skin/background_height_light.png');
  -fx-border-image-source: url('pics/skin/border_height_image.png');
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/cancel.png');
  -fx-background-color: transparent;
}

.button-add {
  -fx-background-image: url('pics/skin/background_height_light.png');
  -fx-border-image-source: url('pics/skin/border_height_image.png');
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/add.png');
  -fx-background-color: transparent;
}

.button-remove {
  -fx-background-image: url('pics/skin/background_height_light.png');
  -fx-border-image-source: url('pics/skin/border_height_image.png');
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/delete.png');
  -fx-background-color: transparent;
}

.button-config {
  -fx-background-image: url('pics/skin/background_height_light.png');
  -fx-border-image-source: url('pics/skin/border_height_image.png');
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/setting_tools.png');
  -fx-background-color: transparent;
}

.button-export-excel {
  -fx-background-image: url('pics/skin/background_height_light.png');
  -fx-border-image-source: url('pics/skin/border_height_image.png');
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  /* top, right, bottom, and left slices */
  -fx-border-image-slice: 10.0,10.0,10.0,10.0;
  -fx-border-image-width: 8.0;

  -fx-graphic: url('pics/icons/ExportExcel32.png');
  -fx-background-color: transparent;
}

/*
   Find more details on JavaFX supported named colors at

http://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html#typecolor

*/
/* Colors of JavaFX pie chart slices. */
.chart-pie.default-color0{
	-fx-pie-color: dodgerblue;
	-fx-border-color: darkgray;
	-fx-border-width: 1px;
}
.chart-pie.default-color1{
	-fx-pie-color: turquoise;
	-fx-border-color: darkgray;
	-fx-border-width: 1px;
}
.chart-pie.default-color2{
	-fx-pie-color: aquamarine;
	-fx-border-color: darkgray;
	-fx-border-width: 1px;
}
.chart-pie.default-color3{
	fx-pie-color: cornflowerblue;
	-fx-border-color: darkgray;
	-fx-border-width: 1px;
}
.chart-pie.default-color4{
	-fx-pie-color: blue;
	-fx-border-color: darkgray;
	-fx-border-width: 1px;
}
.chart-pie.default-color5{
	-fx-pie-color: cadetblue;
	-fx-border-color: darkgray;
	-fx-border-width: 1px;
}
.chart-pie.default-color6{
	fx-pie-color: navy;
	-fx-border-color: darkgray;
	-fx-border-width: 1px;
}
.chart-pie.default-color7{
	fx-pie-color: deepskyblue;
	-fx-border-color: darkgray;
	-fx-border-width: 1px;
}
.chart-pie.default-color8{
	fx-pie-color: cyan;
	-fx-border-color: darkgray;
	-fx-border-width: 1px;
}
.chart-pie.default-color9{
	fx-pie-color: steelblue;
	-fx-border-color: darkgray;
	-fx-border-width: 1px;
}
.chart-pie.default-color10{
	fx-pie-color: teal;
	-fx-border-color: darkgray;
	-fx-border-width: 1px;
}
.chart-pie.default-color11{
	fx-pie-color: royalblue;
	-fx-border-color: darkgray;
	-fx-border-width: 1px;
}

.chart { 
    -fx-border-image-insets: 0.0;
    -fx-border-image-repeat: no-repeat ;
    -fx-padding: 0.1;
}

.chart-content {
    -fx-padding: 0.1;
	}


/*
Stacked BarChart
*/
.stacked-bar-chart:vertical {
  -fx-border-image-insets: 0.0;
  -fx-border-image-repeat: no-repeat ;
  -fx-padding: 0.1;
  -fx-background-image: url('pics/skin/background_light.png');
  -fx-background-image-repeat: repeat ;
  -fx-background-color: transparent;
}

.chart-legend {
  -fx-background-image: url('pics/skin/background_light.png');
  -fx-background-image-repeat: repeat ;
  -fx-background-color: transparent;
}

.stacked-bar-chart .chart-content .chart-plot-background {
  -fx-background-image: url('pics/skin/background_light.png');
  -fx-background-image-repeat: repeat ;
  -fx-background-color: transparent;
}